<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'homepage' %}">CovidGUI</a>
    <h4 class="navbar-brand" style="color:blueviolet">מעבדה 41997 אוניברסיטת תל אביב</h4>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
         {% if user.is_authenticated %}
      <li class="nav-item ">
              <a class="nav-link" href="{% url 'search' %}">דף בית</a>

      </li>
      <li class="nav-item">
              <a class="nav-link" href="{% url 'new_form' %}">טופס חדש <span class="sr-only">(current)</span></a>

      </li>
        {% endif %}
    </ul>
      <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
              <li class="nav-text ">
                <p>שלום {{ user.get_full_name }}  </p>
              </li>
              <li class="nav-item">
                <a href="{% url 'logout' %}" class="mx-2 btn btn-danger">logout</a>
              </li>
          {% else %}

              <li class="nav-item ">
                <a href="{% url 'login' %}" class="mx-2 btn btn-primary">login</a>
              </li>
          {% endif %}
    </ul>
  </div>
</nav>
