{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h5>עריכת פרטי בדיקה</h5>
<form method="post" id="myForm">
 <div class="row sticky-top ">
 <div class="col-4 d-flex justify-content-center">
  {% if previous_id %}
        <a href="{% url 'edit_form' previous_id %}" class="btn btn-success">טופס קודם</a>
     {% endif %}
 </div>

  <div class="col-4 d-flex justify-content-center">

        <a href="{% url 'export' object.id %}" class="btn btn-warning">ייצוא</a>
 </div>
  <div class="col-4 d-flex justify-content-center">

     {% if next_id %}
        <a href="{% url 'edit_form' next_id %}" class="btn btn-info">טופס הבא</a>
     {% endif %}
</div>
    </div>
    {% csrf_token %}
<div class="row">
    {% for field in form %}
        <div class="col-3">
            {{ field.errors }}
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
</div>
  <button type="submit" class="btn btn-primary">שמור</button>
</form>

<script>
  $(function () {
    $("#id_take_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_get_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_result_date").datepicker();
  });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js"></script>
    <script>
  $(function() {
    $('#myForm').areYouSure(
      {
        message: 'אם תעזוב עכשיו השינויים לא יישמרו, נא לשמור את הטופס על מנת שלא לאבד מידע'
      }
    );
  });

</script>
{% endblock %}
