{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h5> פרטי טופס בדיקה</h5>
<form method="post" id="myForm" class="mb-5" autocomplete="off">
 <div class="row sticky-top ">
 <div class="col-6 d-flex justify-content-center">
  {% if previous %}
        <a href="{% url 'update' previous %}" class="btn btn-success">טופס קודם</a>
     {% endif %}
 </div>

 <div class="col-6 d-flex justify-content-center">

 <button type="submit" class="btn btn-primary">שמירת טופס</button>
 </div>
  <div class="col-3 d-flex justify-content-center">

     {% if next %}
        <a href="{% url 'update' next %}" class="btn btn-info">טופס הבא</a>
     {% endif %}
</div>

    </div>
    {% csrf_token %}
<div class="row">
     {% include 'temp.html' with form=form update=True %}
</div>

</form>

<script>
  $(function () {
    $("#id_take_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_get_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_result_date").datepicker();
  });
</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.AreYouSure/1.9.0/jquery.are-you-sure.min.js"></script>
    <script>
  $(function() {
    $('#myForm').areYouSure(
      {
        message: 'אם תעזוב עכשיו השינויים לא יישמרו, נא לשמור את הטופס על מנת שלא לאבד מידע'
      }
    );
  });

</script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/select2.css' %}" />
    <script type="text/javascript" src="{% static 'autocomplete_light/jquery.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
    <link type="text/css" rel="{% static 'autocomplete_light/select2.css' %}">
    <script type="text/javascript" src="{% static 'vendor/select2/dist/js/select2.full.js' %}"></script>
    <script type="text/javascript" src="{% static 'autocomplete_light/forward.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}
