{% extends 'base.html' %}
{% block content %}
    <ul class="list-group">
    {% for object in objects %}
        <li class="list-group-item">

            <div class="justify-content-between">
                    <h4>                    טופס עבור ת"ז {{ object.ID_num }}</h4>
                    <h4>41997.Negifim.{{ object.result_date|date:'dmY' }}.{{ objects.id }}</h4>
                <div class="float-right">
                <a href="{% url 'edit_form' object.id %}" class="btn btn-info">ערוך טופס</a>
                <a href="{% url 'delete_form' object.id %}" class="btn btn-danger">מחק טופס</a>
                <a href="{% url 'export' object.id %}" class="btn btn-warning">ייצוא טופס</a>
</div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
41997.Negifim.{{ object.result_date|date:'dmY' }}.{{ objects.id }}
