{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h5>מילוי פרטי בדיקה</h5>

<form method="post" >

    {% csrf_token %}
<div class="row">
    {% for field in form %}
        <div class="col-3">
            {{ field.errors }}
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-between">
  <button type="submit" class="btn btn-primary">Save</button>
    <input class="btn btn-danger" type="button" value="נקה טופס" onClick="this.form.reset()" />
    </div>
</form>

<script>
  $(function () {
    $("#id_take_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_get_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_result_date").datepicker();
  });
</script>
{% endblock %}
