{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h5>Submit a Covid Form</h5>

<form method="post" >

    {% csrf_token %}
<div class="row">
    {% for field in form %}
        <div class="col-3">
            {{ field.errors }}
            {{ field|as_crispy_field }}
        </div>
    {% endfor %}
</div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<script>
  $(function () {
    $("#id_take_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_get_date").datepicker();
  });
</script>
<script>
  $(function () {
    $("#id_result_date").datepicker();
  });
</script>
{% endblock %}
